<div class="animated fadeIn fast">
    <h1 class="display-3 text-center my-4">Resultado búsqueda: {{termino}}</h1>
    <hr>
    <div class="container animated fadeIn fast" *ngIf="discos.length == 0">
        <div class="alert alert-info mt-4">
            <h6 class="text-center">No existen resultados para el término: {{termino}}. Por favor vuelve a intentar con otro término de búsqueda.</h6>
        </div>
        <img src="assets/img/bunburytriste.png" class="img-fluid " alt="bunbury">
        <div class="row d-flex justify-content-center mt-4">
            <a [routerLink]="['/discografia']" (click)="irArriba()" class="btn btn-success text-white">Volver a discografía</a>
        </div>
    </div>
    <div class="container">
        <div class="card-group pt-5 pb-5">
            <div class="col-lg-4 col-12" *ngFor="let disco of discos; let i = index;">
                <div class="card">
                    <img [src]="disco.cover" class="card-img-top" [alt]="disco.album">
                    <div class="card-body">
                        <h5 class="card-title">{{disco.album}}</h5>
                        <!-- <p class="card-text">{{disco.description}}</p> -->
                        <p class="card-text"><small class="text-muted">{{disco.date}}</small></p>
                        <!-- <button (click)="verDisco(i)" class="btn btn-outline-info btn-block">Ver más</button> -->
                        <a [routerLink]="['/disco', disco.idx]" class="btn btn-outline-info btn-block">Ver más</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>